<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inc.lilin.crowd.database.AddressPOMapper">
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <!--請注意，此文件由代碼產生器(MybatisGenerattor)產生，任何修改都會在下次產生代碼時被覆寫。-->
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <resultMap id="BaseResultMap" type="inc.lilin.crowd.entity.po.AddressPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="receive_name" jdbcType="CHAR" property="receiveName" />
    <result column="phone_num" jdbcType="CHAR" property="phoneNum" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="inc.lilin.crowd.entity.po.AddressPO">
    insert into t_address (id, receive_name, phone_num, 
      address, member_id)
    values (#{id,jdbcType=INTEGER}, #{receiveName,jdbcType=CHAR}, #{phoneNum,jdbcType=CHAR}, 
      #{address,jdbcType=CHAR}, #{memberId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="inc.lilin.crowd.entity.po.AddressPO">
    update t_address
    set receive_name = #{receiveName,jdbcType=CHAR},
      phone_num = #{phoneNum,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      member_id = #{memberId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, receive_name, phone_num, address, member_id
    from t_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, receive_name, phone_num, address, member_id
    from t_address
  </select>

  <select id="selectByMemberId" resultType="inc.lilin.crowd.entity.vo.AddressVO">
    SELECT *
    FROM t_address
    WHERE member_id = #{memberId};
  </select>
</mapper>