<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inc.lilin.crowd.database.ProjectPOMapper">
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <!--請注意，此文件由代碼產生器(MybatisGenerattor)產生，任何修改都會在下次產生代碼時被覆寫。-->
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <resultMap id="BaseResultMap" type="inc.lilin.crowd.entity.po.ProjectPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_description" jdbcType="VARCHAR" property="projectDescription" />
    <result column="money" jdbcType="BIGINT" property="money" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="deploydate" jdbcType="VARCHAR" property="deploydate" />
    <result column="supportmoney" jdbcType="BIGINT" property="supportmoney" />
    <result column="supporter" jdbcType="INTEGER" property="supporter" />
    <result column="completion" jdbcType="INTEGER" property="completion" />
    <result column="memberid" jdbcType="INTEGER" property="memberid" />
    <result column="createdate" jdbcType="VARCHAR" property="createdate" />
    <result column="follower" jdbcType="INTEGER" property="follower" />
    <result column="header_picture_path" jdbcType="VARCHAR" property="headerPicturePath" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="inc.lilin.crowd.entity.po.ProjectPO">
    insert into t_project (id, project_name, project_description, 
      money, day, status, 
      deploydate, supportmoney, supporter, 
      completion, memberid, createdate, 
      follower, header_picture_path)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{projectDescription,jdbcType=VARCHAR}, 
      #{money,jdbcType=BIGINT}, #{day,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{deploydate,jdbcType=VARCHAR}, #{supportmoney,jdbcType=BIGINT}, #{supporter,jdbcType=INTEGER}, 
      #{completion,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, #{createdate,jdbcType=VARCHAR}, 
      #{follower,jdbcType=INTEGER}, #{headerPicturePath,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="inc.lilin.crowd.entity.po.ProjectPO">
    update t_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_description = #{projectDescription,jdbcType=VARCHAR},
      money = #{money,jdbcType=BIGINT},
      day = #{day,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      deploydate = #{deploydate,jdbcType=VARCHAR},
      supportmoney = #{supportmoney,jdbcType=BIGINT},
      supporter = #{supporter,jdbcType=INTEGER},
      completion = #{completion,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=VARCHAR},
      follower = #{follower,jdbcType=INTEGER},
      header_picture_path = #{headerPicturePath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, project_name, project_description, money, day, status, deploydate, supportmoney, 
    supporter, completion, memberid, createdate, follower, header_picture_path
    from t_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, project_name, project_description, money, day, status, deploydate, supportmoney, 
    supporter, completion, memberid, createdate, follower, header_picture_path
    from t_project
  </select>
</mapper>