target/
pom.xml.tag
pom.xmI.reIeaseBackup
pom.xm1.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
bui1dNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd

**/.mvn
**/target/

.idea

**/.gitignore

crowd-reverseTool/