<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inc.lilin.crowd.admin.domain.TestMapper">
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <!--請注意，此文件由代碼產生器(MybatisGenerattor)產生，任何修改都會在下次產生代碼時被覆寫。-->
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <resultMap id="BaseResultMap" type="inc.lilin.crowd.admin.domain.Test">
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <insert id="insert" parameterType="inc.lilin.crowd.admin.domain.Test">
    insert into test (user_name)
    values (#{userName})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_name
    from test
  </select>
</mapper>