<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<base th:href="@{/}"/>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/theme.css">
	<style>
		#footer {
			padding: 15px 0;
			background: #fff;
			border-top: 1px solid #ddd;
			text-align: center;
		}
		#topcontrol {
			color: #fff;
			z-index: 99;
			width: 30px;
			height: 30px;
			font-size: 20px;
			background: #222;
			position: relative;
			right: 14px !important;
			bottom: 11px !important;
			border-radius: 3px !important;
		}

		#topcontrol:after {
			/*top: -2px;*/
			left: 8.5px;
			content: "\f106";
			position: absolute;
			text-align: center;
			font-family: FontAwesome;
		}

		#topcontrol:hover {
			color: #fff;
			background: #18ba9b;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		.label-type, .label-status, .label-order {
			background-color: #fff;
			color: #f60;
			padding : 5px;
			border: 1px #f60 solid;
		}
		#typeList  :not(:first-child) {
			margin-top:20px;
		}
		.label-text {
			margin:0 10px;
		}
		.panel {
			border-radius:0;
		}
	</style>
	<script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="script/docs.min.js"></script>
	<script type="text/javascript" src="script/back-to-top.js"></script>
	<script type="text/javascript">
		$('#myTab a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
	</script>
</head>
<body>
<div class="navbar-wrapper">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html" style="font-size:32px;">尚籌網-創意產品眾籌平臺</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" style="float:right;">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> [[${session.loginMember.username}]]<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="member.html">會員中心</a></li>
								<li><a href="message.html">訊息 <span class="badge badge-success">42</span></a></li>
								<li class="divider"></li>
								<li><a href="http://www.crowd.com/auth/member/logout">退出系統</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="container theme-showcase" role="main">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a rel="nofollow" href="index.html"><i class="glyphicon glyphicon-home"></i> 眾籌首頁</a>
							</li>
							<li >
								<a rel="nofollow" href="projects.html"><i class="glyphicon glyphicon-th-large"></i> 專案總覽</a>
							</li>
							<li class="active">
								<a rel="nofollow" href="javascript:;"><i class="glyphicon glyphicon-edit"></i> 發起專案</a>
							</li>
							<li>
								<a rel="nofollow" href="minecrowdfunding.html"><i class="glyphicon glyphicon-user"></i> 我的眾籌</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="panel panel-default" >
					<div class="panel-heading" style="text-align:center;">
						<h3 >
							眾籌平臺專案發起人協議
						</h3>
					</div>
					<div class="panel-body" style="height:400px;overflow-y:auto;padding:10px;">
						<div class="test-box">
							<p><b>在發起人使用尚籌網眾籌平臺提供的服務之前，請務必認真閱讀本協議的全部內容。閱讀本協議的過程中，如您不同意本協議或其中任何條款約定，您應立即停止註冊（如：點選確認等後續操作），撤銷註冊流程。本協議一經發起人點選確認並同意接受，即產生法律效力。
							</b></p>
							<h5>第1條  簽約主體</h5>
							<p>本協議由尚籌網網站（包括但不限於www.atcrowd.com及尚籌網眾籌平臺）的所有者及其關聯公司（以下簡稱為「尚籌網」），在尚籌網眾籌平臺（zc.atcrowd.com）與登錄、使用尚籌網眾籌平臺的專案發起人（以下簡稱 「發起人」）共同簽署（簽約地：江蘇省南京市）。</p>
							<h5>第2條  定 義</h5>
							<p>2.1 尚籌網眾籌平臺：尚籌網眾籌平臺是一個可以讓發起人的專案計劃變為現實的夢想平臺，是「致力於中國創造，實現創新創業者夢想」的平臺，發起人可以在尚籌網眾籌平臺上發起創新專案的籌款需求，並承諾提供不同形式的回報給專案的支持者，支持者可通過預購發起人的專案成果或相關產品來表達對發起人的支援。</p>
							<p>2.2發起人：指在尚籌網眾籌平臺上發起專案的法人。</p>
							<p>2.3支持者：指對發起人的項目表示支援的尚籌網使用者，支持者通過支付一定金額的預購款的方式，預購專案的衍產生果及/或相關產品。</p>
							<p>2.4籌款成功：指在發起人設定的時間內，發起人與支持者訂立的以專案成果及/或相關產品為回報標的的合同金額達到或超過了發起人設定的籌款金額。</p>
							<p>2.5專案成功：指專案籌款成功后，發起人執行專案計劃並最終形成專案成果，並按照支持者預購訂單的約定向支持者交付專案成果及/或相關產品。</p><p>
						</p><h5>第3條  立約背景</h5>
							<p>3.1為保護支持者的合法權益，規範發起人的行為，維護尚籌網眾籌平臺的秩序，特擬定本協議。</p>
							<p>3.2尚籌網為發起人與支持者之間的交易行為提供平臺網路空間、技術服務和支援，尚籌網並不是發起人或支持者中的任何一方，所有交易僅存在於發起人和支持者之間，使用尚籌網眾籌平臺產生的法律後果由發起人與支持者自行承擔。</p>
							<p>3.3尚籌網會對所發起的專案的合理性、專案內容與回報的匹配度等進行形式審覈，審覈通過後才可發佈到尚籌網眾籌平臺，但是專案通過尚籌網的審覈並不代表尚籌網保證專案合法或不侵犯任何第三方的權利，發起人仍需對所發起的專案獨立承擔法律責任。</p>
							<h5>第4條  協議生效和適用範圍</h5>
							<p>4.1本協議內容包括協議正文以及尚籌網網站已經發布的或將來可能發佈的各類規則、操作流程。所有規則為本協議不可分割的一部分，與協議正文具有同等的法律效力。</p>
							<p>4.2當發起人在尚籌網眾籌平臺發起專案時，通過網路頁面點選確認或以其他方式選擇接受本協議，即表示與尚籌網達成協議並接受本協議的全部約定內容，本協議自發起人通過網路頁面點選確認或以其他方式選擇接受本協議之時起生效。本協議生效后，發起人不應以未閱讀或不接受本協議的內容為由，主張本協議無效或要求撤銷本協議。</p>
							<p>4.3尚籌網有權根據需要不定時修改本協議或各類規則、操作流程，如本協議有任何變更，尚籌網將在網站上以公示形式通知，且無需徵得發起人的事先同意。修改後的協議及規則一經公示即生效，成為本協議的一部分。如發起人繼續登錄或使用尚籌網眾籌平臺的，即視為已閱讀並接受修改後的協議。</p>
							<p>4.4發起人應該按照本協議約定行使權利並履行義務。如不能接受本協議的約定，包括但不限於不能接受修訂后的協議及各類規則，則應立即停止使用尚籌網眾籌平臺提供的服務。如發起人繼續使用服務，則表示同意並接受本協議及各類規則的約束。</p>
							<h5>第5條  專案發起人資格</h5>
							<p>5.1專案發起人應為尚籌網眾籌平臺的註冊使用者，完全理解並接受本協議。</p>
							<p>5.2發起人可以為法人或其他組織且應是在中國境內合法成立、註冊可獨立承擔法律責任的法律實體。</p>
							<p>5.3發起人在發起專案前，應通過尚籌網易付寶完成必要的身份認證和資質認證，包括但不限於營業執照、法人身份證等的實名認證。發起人在發起專案時同意並授權尚籌網眾籌平臺公示認證資訊。</p>
							<p>5.4發起人應按照尚籌網的要求開立賬戶，以接收支持者的支援款。</p>
							<p>5.5如發起人申請發起的專案為帶有公益性質的專案，則發起人應是合法成立的公益組織或與合法成立的公益組織共同發起專案。</p>
							<p>5.6尚籌網眾籌平臺將根據申請發起的專案型別不同，對發起人需要滿足的其他資格進行限定和要求。</p>
							<h5>第6條  專案內容規範</h5>
							<p>6.1在尚籌網眾籌平臺上發起的專案應為具有創新性質且具有可執行性的專案，且專案目標須是明確、具體、可衡量的，如製作一個實物產品、拍一部微電影或完成一件藝術創作等。不得在無實質專案內容的情況下純粹為公益組織發起募捐或以發起類似「資助獎學金」、「資助我去旅遊」等為滿足發起人個人需求之目的籌款。</p>
							<p>6.2專案內容須符合法律法規及尚籌網網站的相關規定；尚籌網眾籌平臺有權對專案提出特殊要求。不得抄襲、盜用他人的成果發起眾籌專案，創意類產品必須為原創。</p>
							<p>6.3專案的內容必須包含「我想要做什麼事情」、「專案風險」、「專案回報」、「為什麼需要支援」等資訊。同時，應向專案支持者充分說明專案存在的風險及挑戰，以便於專案支持者對專案有全面充分的瞭解，從而獨立慎重做出是否投資的決定。</p>
							<p>6.4專案內容及發起人上傳的相關專案資訊（包含但不限於文字、圖片、視訊等）須為發起人原創，如非發起人原創，則發起人應已獲得權利人的相應授權，且權利人允許發起人轉授權給尚籌網及尚籌網的關聯公司在尚籌網網站及尚籌閘道器聯公司的其他官方網站及線下媒體出於宣傳尚籌網眾籌平臺的目的而進行永久的免費宣傳、推廣、使用。</p>
							<p>6.5專案不得含有攻擊性、侮辱性言論，不得含有違反國家法律法規、政策的內容及其他尚籌網認為不適宜的內容。包括但不限於以下內容：</p>
							<p>6.5.1違反國家法律規定的違禁品，如毒品、槍支彈藥及管制刀具相關；</p>
							<p>6.5.2非法、色情、淫穢、賭博、暴力、恐怖、反動、政治與宗教相關；</p>
							<p>6.5.3開辦公司、網站、店舖等相關；</p>
							<p>6.5.4其他國家法律規定和尚籌網網站規定的禁限售等違禁品資訊。</p>
							<p>6.6專案回報發放完成前不允許對已經完成生產的商品進行銷售，公益相關專案除外。</p>
							<p>6.7 專案的排他性，專案在尚籌網眾籌平臺募集期內不得在其他任意平臺同時發起類似專案或進行銷售。一經發現，專案強行下架，並追究違約責任。</p>
							<p>6.8尚籌網眾籌平臺對專案的審覈僅針對專案的合理性、專案內容與回報的匹配度等進行審覈，發起人應保證發起的專案內容合法，且不侵犯他人合法權益。</p>
							<p>6.9在尚籌網眾籌平臺上發起專案時，應明確眾籌開始時間和結束時間，以及專案眾籌成功后的回報時間。截止專案結束時間，如專案眾籌金額等於或大於預定眾籌金額，則專案眾籌成功；如專案眾籌金額低於預定眾籌金額，則專案眾籌失敗。</p>
							<h5>第7條  專案回報規範</h5>
							<p>7.1專案回報必須與專案具有關聯性。回報應為專案進行過程中發起人產出的衍產生果或相關商品，公益相關專案除外。</p>
							<p>7.2 發起人承諾，如專案眾籌成功，及時兌現對專案支持者承諾的回報；如專案眾籌失敗，同意尚籌網將眾籌款項及時退還專案支持者，並由發起人就專案眾籌失敗的原因等對專案支持者做出解釋。</p>
							<p>7.3專案回報產品在尚籌網眾籌平臺設定的最高單價應低於專案成功結束后<b>兩個月內</b>的產品市場售價的<b>90%</b> ，否則應將售價差額發還支持者。</p>
							<p>7.4專案回報為實物的，產品量產後，應最先發放給尚籌網眾籌平臺支援該專案的支持者，否則將視為發起人違約，需承擔違約責任及罰金。</p>
							<p>7.5如發起人與專案支持者在兌現回報過程中發生糾紛，一切責任由發起人承擔，如因此給尚籌網造成經濟或名譽損失，發起人應賠償尚籌網相關損失。</p>
							<p>7.6如發起人在兌現對專案支持者的回報的過程中，與第三方（包括但不限於物流公司）發生糾紛，一切責任由發起人承擔。</p>
							<h5>第8條  發起人行爲規範</h5>
							<p>8.1專案審覈通過後，發起人除可修改專案啟動時間外，不得編輯、修改其他專案內容。</p>
							<p>8.2專案籌款成功前，發起人如因故需取消專案的，需向尚籌網眾籌平臺提交取消申請，尚籌網眾籌平臺審覈通過後專案取消，所有籌集到的款項由尚籌網退回給支持者。</p>
							<p>8.3專案籌款成功后，發起人應嚴格按照專案計劃執行，並在專案計劃執行過程中積極與支持者互動。</p>
							<p>8.4專案籌款成功后，如專案因故延期或無法按原定專案計劃執行的，或者因任何主觀或客觀因素導致專案最終無法完成的，發起人應第一時間通知尚籌網眾籌平臺，並及時通過尚籌網眾籌平臺及其他途徑告知支持者，向支持者支付違約金，全額退還未履行訂單的專案支援款。</p>
							<p>8.5發起人在專案募集期間，不能以任何形式在其他平臺上發起該專案。如違反該規定，尚籌網有權對發起人追究責任。</p>
							<p>8.6發起人應按照承諾發放專案回報（專案衍產生果及/或相關商品），發放的專案回報應無質量或權利瑕疵，如因專案回報發生糾紛，參照國家相關法規處理(例如:《消費者權益保護法》)。</p>
							<p>8.7發起人在專案回報日前未完成回報，且無合理理由的，視為專案延期。<b>專案延期30天（含）以上的，視為專案失敗</b>。尚籌網眾籌平臺有權通過系統直接向未確認收貨的支持者退還支援款，發起人應當將支援款全額返還尚籌網眾籌平臺。</p>
							<p>8.8公益相關專案發起人應在完成專案后的合理時間內上傳籌款項用於公益用途的相關憑證。</p>
							<p>8.9發起人應提交真實、準確的專案資訊（專案資訊如有任何更新，應及時向尚籌網眾籌平臺提交更新后的資訊），並自主上傳、提交專案。</p>
							<p>8.10發起人應自行承擔準備或提交、完成專案而發生的費用，自行繳納因從事本協議項下行為而產生的相應稅款。</p>
							<p>8.11發起人應妥善保管尚籌網眾籌平臺的賬號和密碼，任何情況下發起人須對在該賬號下發生的所有活動（包括但不限於資訊披露、發佈資訊、上傳圖片或視訊、網上點選同意或提交各類規則協議等）承擔法律責任。</p>
							<p>8.12發起人瞭解並同意，不得自行或允許任何第三方使用發起人的賬號通過尚籌網眾籌平臺從事任何違反法律法規或侵犯第三方權利的行為，包含但不限於：</p>
							<p>8.12.1侵犯任何第三方的專利、商標、著作權、商業秘密或其他合法權利，或違反任何法律或合同的；</p>
							<p>8.12.2發起人的行為或專案資訊是虛假的、誤導性的、不準確的；</p>
							<p>8.12.3發起人的行為或專案資訊涉嫌非法、威脅、辱罵、騷擾、誹謗、中傷、欺騙、欺詐、侵權、淫穢、冒犯、褻瀆或侵犯他人隱私的；</p>
							<p>8.12.4未經接收方允許而向接收方發佈任何郵件、宣傳材料或廣告資訊；</p>
							<p>8.12.5進行任何危害資訊網路安全的行為，故意傳播惡意程式或病毒以及其他破壞、干擾正常網路資訊服務的行為。</p>
							<p>8.13對於發起人通過尚籌網眾籌平臺發佈的涉嫌違法或涉嫌侵犯他人合法權利或違反本協議的資訊，尚籌網有權依據尚籌網的判斷不經通知發起人即予以修改、編輯、刪除等。</p>
							<p>8.14實物回報類專案上線之前，發起人有義務主動提供樣品進行評估審覈，且專案一經上線無論眾籌成功與否，樣機不予退還。</p>
							<p>8.15發起人承諾不得未經尚籌網眾籌平臺同意擅自使用尚籌網眾籌及其關聯公司的任何智慧財產權。特別地，除非經尚籌網眾籌平臺書面批準，發起人在任何情形下都不在任何國家或地區將尚籌網眾籌及其關聯公司的商標及其類似商標、標識的全部或部分單獨地或與其他任何商標、商號、文字或符號、域名合併使用或進行申請、註冊等權力化行為。合作過程中，發起人應當在其知曉任何第三方可能侵犯尚籌網眾籌平臺智慧財產權時及時通知尚籌網眾籌平臺。</p>
							<p>8.16發起人違反上述行爲規範對任何第三方造成損害的，發起人均應當以自己的名義獨立承擔所有的法律責任，並賠償尚籌網因此產生的損失或費用，包括但不限於商譽損失等。</p>
							<h5>第9條  支援款交付及平臺服務費</h5>
							<p>9.1尚籌網眾籌平臺對支援款的交付及平臺服務費的收取均通過第三方支付平臺<b>尚籌網易付寶</b>進行收付。</p>
							<p>9.2發起人使用尚籌網眾籌平臺服務，尚籌網將向發起人收取募集總金額3%的平臺服務費，發起人與尚籌網另有約定的除外。</p>
							<p>9.3籌款成功后尚籌網眾籌平臺將在<b>3</b>個工作日內將募集總金額扣除平臺服務費以及質量保證金（如有）后剩餘款項的<b>60%</b>交付給發起人，並預留餘下的<b>40%</b>作為確保專案成功並保證支持者獲得回報的保證金(以下簡稱「保證金」)。在專案成功、無糾紛且所有支持者得到承諾回報的情況下，尚籌網將把這部分款項交付給發起人。發起人與尚籌網另有約定的除外。</p>
							<p>9.4根據市場與技術的發展，尚籌網保留變更保證金及平臺服務費比例的權利。在變更前，尚籌網將以適當的方式通知發起人變更情況，包括但不限於在尚籌網網站上公示。發起人有權選擇接受或拒絕接受，如果發起人選擇拒絕的，應立即停止使用尚籌網眾籌平臺的服務；發起人繼續使用尚籌網眾籌平臺的，即視為發起人同意尚籌網的費用變更。變更后的收費比例對已經發布的專案無溯及力。</p>
							<h5>第10條  智慧財產權</h5>
							<p>10.1發起人承諾，對於通過尚籌網眾籌平臺發佈、上傳的所有內容均擁有合法權利，不侵犯任何第三方的肖像權、隱私權、專利權、商標權、著作權等合法權利及其他合同權利。</p>
							<p>10.2發起人通過尚籌網眾籌平臺發佈、上傳的任何內容，發起人授予尚籌網及其關聯公司非獨家的、可轉授權的、不可撤銷的、全球通用的、永久的、免費的許可使用權利，並可對上述內容進行修改、改寫、改編、發行、翻譯、創造衍生性內容及/或可以將前述部分或全部內容加以傳播、表演、展示，及/或可以將前述部分或全部內容放入任何現在已知和未來開發出的以任何形式、媒體或科技承載的作品當中。</p>
							<p>10.3尚籌網眾籌平臺向發起人提供的服務含有受到相關智慧財產權及其他法律保護的專有保密資料或資訊，亦可能受到著作權、商標、專利等相關法律的保護。未經尚籌網或相關權利人書面授權，發起人不得修改、出售、傳播部分或全部該等資訊，或加以製作衍生服務或軟體，或通過進行還原工程、反向組譯及其他方式破譯原始碼。</p>
							<h5>第11條  糾紛處理</h5>
							<p>11.1虛擬類回報不支援退換貨，也不支援退款，如有發貨錯誤、漏發或支持者收到的虛擬類回報存在質量問題的，發起人應在七日內免費予以重發或補發。</p>
							<p>11.2實物類回報如有錯發、漏發的，發起人應在七日內免費予以重發或補發，發起人無法重發或補發的，應退相應款項給支持者。</p>
							<p>11.3專案回報有質量問題的，參照國家相關法規處理(例如:《消費者權益保護法》)。</p>
							<p>11.4發起人怠於處理糾紛或處理糾紛不符合尚籌網相關規定的，尚籌網眾籌平臺有權利用預留的保證金/質保金處理支持者糾紛。如保證金不足以處理糾紛，發起人有義務向尚籌網支付處理糾紛所產生的費用。</p>
							<h5>第12條  違規處理</h5>
							<p>12.1對於違反本協議或尚籌網網站規則的發起人，尚籌網有權進行違規處理，涉及的罰款可以從保證金/質保金中扣除。</p>
							<p>12.2如發起人在籌款時間截止前非因不可抗力主動取消專案的，則發起人在一個月內不得再次發起專案。</p>
							<p>12.3如發起人在專案籌款成功后、發放回報前，非因不可抗力宣佈專案失敗或因專案延期而被認定為專案失敗的，則發起人在三個月內不得再次發起專案，但如發起人已將支持者所支付的款項全額退回的，再次發起專案的時間可以不受限制。</p>
							<p>12.4尚籌網有權對發起人是否涉嫌違規做出單方認定，並根據單方認定結果中止、終止對發起人的平臺使用許可或採取其他限制措施。</p>
							<p>12.5如發起人嚴重違反本協議、尚籌網網站規則或違反國家法律法規規定的，將被清退出尚籌網眾籌平臺，涉嫌犯罪的尚籌網將移送司法機關處理。</p>
							<h5>第13條  違約責任</h5>
							<p>13.1如發起人涉嫌違反有關法律或者本協議之約定，使尚籌網及/或尚籌網的關聯公司遭受任何損失，或受到任何第三方的索賠，或受到任何行政管理部門的處罰，發起人應當賠償尚籌網因此遭受的損失及/或發生的費用，包括合理的律師費用、調查取證費用等，相關費用尚籌網有權從保證金/質保金中扣除，不足部分，由發起人另行支付補足。</p>
							<p>13.2任何一方違反其于本協議項下的陳述、保證或承諾，而使另一方遭受任何訴訟、糾紛、索賠、處罰等的，違約方應負責解決，使另一方發生任何費用、額外責任或遭受經濟損失的，應當負責賠償。如一方發生違約行為，守約方可以書面通知方式要求違約方在指定的時限內停止違約行為，要求其消除影響。如違約方未能按時停止違約行為，則守約方有權立即終止本協議。如因尚籌網自身原因造成發起人的損失，尚籌網向發起人承擔的最大總體責任和賠償限額不應超過在本協議項下尚籌網已向發起人收取的服務費總額。</p>
							<p>13.3對於發起人應當承擔的違約金，尚籌網有權從保證金/質保金中扣除，不予返還。</p>
							<h5>第14條  協議終止及爭議解決</h5>
							<p>14.1在下列情況下，尚籌網可以隨時無須承擔任何義務和責任地全部或部分暫停、中止或終止履行本協議的義務或提供本協議項下的服務，直至解除本協議，且無須徵得發起人的同意：</p>
							<p>14.1.1發起的專案違反尚籌網眾籌平臺使用規則或本協議約定條款；</p>
							<p>14.1.2發起人不同意接受本協議約定（含尚籌網發佈的各類規則），且已停止使用尚籌網眾籌平臺針對專案發起人提供的服務；</p>
							<p>14.1.3發起人不符合本協議約定的專案發起人應具備的資格的；</p>
							<p>14.1.4發起的專案違反法律法規、監管政策或其他相關規定；</p>
							<p>14.1.5發起的專案將引發或可能引發尚籌網運營的重大風險；</p>
							<p>14.1.6發起的專案存在或可能存在明顯危害支持者利益的風險；</p>
							<p>14.1.7因不可歸責于尚籌網的原因造成專案無法繼續進行或專案回報無法實現的。</p>
							<p>14.2因不可歸責于尚籌網的原因造成協議終止，在協議終止前的行為所導致的任何賠償和責任，發起人必須完全且獨立地承擔責任。</p>
							<p>14.3無論本協議因何種原因終止，並不影響本協議終止前已經籌款成功專案的效力，發起人均應將籌款成功的專案履行完畢，或依照約定或本協議的規定對支持者承擔責任。</p>
							<p>14.4本協議及本協議項下的所有行為均適用中華人民共和國法律。</p>
							<p>14.5協議各方因本協議的簽訂、履行或解釋發生爭議的，各方應友好協商解決。如協商不成，任何一方均應向合同簽訂地法院（即：南京市玄武區人民法院）提起訴訟。</p>
							<p>14.6本協議的解釋權歸尚籌網眾籌平臺所有。</p>
							<p>
								<b>附件：</b>
							</p>
							<h5>《尚籌網眾籌回報服務協議》</h5>
							<h5>（註：本協議只適用於尚籌網眾籌平臺發佈的科技、設計類眾籌）</h5>
							<p>鑑於：</p>
							<p>發起人在隸屬於尚籌網（www.atcrowd.com）網站旗下尚籌網眾籌平臺（以下簡稱「尚籌網」）上發起專案籌款需求，並承諾給專案支持者提供回報。為保護支持者的合法權益，規範發起人的行為，維護眾籌平臺秩序，特擬定本協議。發起人承諾嚴格履行本協議約定，按照專案承諾為客戶提供回報及相關服務。</p>
							<h5>1、 回報產品的退換服務</h5>
							<p>1.1發起人承諾自支持者收到回報產品的15天內提供無理由退換貨服務，退換貨過程中產生的快遞費用，由發起人承擔。如支持者選擇退貨的，發起人應于收到退回貨物之日起3個工作日內為支持者全額退款。如支持者選擇換貨的，發起人應于收到更換貨物之日起5個工作日內完成換貨處理。</p>
							<p>1.2發起人承諾自支持者收到回報產品的第16天至1年內，提供免費維修或換新服務。如回報產品出現質量問題或因非人為原因無法正常使用，發起人應在收到支持者所更換貨物之日起5個工作日內完成換貨處理。貨物更換過程中產生的快遞費用，由發起人承擔。</p>
							<p>1.3以下產品不適用于無理由退換貨:</p>
							<p class="indent">1.3.1 個人定做類產品；</p>
							<p class="indent">1.3.2 文化類產品；</p>
							<p class="indent">1.3.3 線上下載或者已經拆封的音像製品，計算機軟體等數字化商品；</p>
							<p class="indent">1.3.4 交付的報紙期刊類商品；</p>
							<p class="indent">1.3.5 未經授權的維修、誤用、碰撞、疏忽、濫用、進液、事故、改動、不正確的安裝所造成的產品質量問題，或撕毀、塗改標貼、機器序號、防偽標記；</p>
							<p class="indent">1.3.6其他根據產品性質不適宜退換貨，或在眾籌專案發起時已經明確表示不適用退換貨的產品。</p>

							<p>1.4為保證產品在<strong><u>1年保修期</u></strong>內的售後服務質量，發起人須向尚籌網繳納質量保證金（簡稱「質保金」），作為尚籌網處理客戶投訴或產品質量問題用：
							</p><p> 若發起人為尚籌網（或尚籌閘道器聯公司）已有合作方的，與已有合作業務關聯，以尚籌網（或尚籌閘道器聯公司）對發起人的應付賬款作為質押，包括但不限於貨款、保證金等。
						</p><p>若發起人非尚籌網（或尚籌閘道器聯公司）已有合作方的，在專案籌款成功后，尚籌網從專案所籌得款項中自動扣取下述約定金額作為質量保證金，自所有支持者收到回報產品<strong><u> 1年</u></strong>以後，且發起人已經妥善處理所有客戶投訴后，尚籌網將此質保金返還發起人，具體金額要求如下：</p>
							<table class="table-initiate">
								<tbody><tr>
									<th align="center"><strong>眾籌專案分類 </strong></th>
									<th align="center"><strong>質保金 </strong></th>
									<th align="center"><strong>質保金上下限 </strong></th>
								</tr>
								<tr>
									<td>手機、電腦、數碼、辦公裝置、網路裝置、智慧裝置等 </td>
									<td rowspan="2">所籌金額×2.5%</td>
									<td rowspan="9">下限：1000元<br>
										上限：10萬元<br>
										（即：最低收取1000元，最高收取10萬元） </td>
								</tr>
								<tr>
									<td>孕嬰用品、兒童用品（童裝、童鞋、玩具）等 </td>
								</tr>
								<tr>
									<td>空調、電視、冰箱、洗衣機、影音產品等 </td>
									<td rowspan="4">所籌金額×2%</td>
								</tr>
								<tr>
									<td>廚衛大家電、廚房小家電、西式廚房電器、生活小家電、個人護理等 </td>
								</tr>
								<tr>
									<td>戶外裝備、體育器材、騎行裝備、健身器材、垂釣用品、車載電器、汽車配件等 </td>
								</tr>
								<tr>
									<td>家紡、傢俱、燈具、建材、廚房衛浴用品、清潔用品、餐廚用具、生活日用、成人用品、寵物用品等 </td>
								</tr>
								<tr>
									<td>日化用品（美妝、護膚、洗護用品）等 </td>
									<td rowspan="3">所籌金額×1%</td>
								</tr>
								<tr>
									<td>圖書、文化用品類 </td>
								</tr>
								<tr>
									<td>其它 </td>
								</tr>
								</tbody></table>
							<h5>2、 延遲迴報（發貨）補償</h5>
							<p>眾籌專案成功后，發起人應確保按照專案承諾及時為支持者提供回報。如出現回報延遲或未及時發貨的情況，發起人應按照以下標準對支持者進行補償。除專案失敗造成的全額退款的情形外，其餘情況的補償金支付時間不得晚於支持者收到貨物的時間。</p>
							<p>
							</p><table class="table-initiate">
							<tbody><tr>
								<th>延遲發貨天數（單位：日）</th>
								<th>延遲交付違約金/其他處理措施</th>
							</tr>
							<tr>
								<td>X≤30</td>
								<td>違約金為：未履行訂單總金額的5%</td>
							</tr>
							<tr>
								<td>X&gt;30</td>
								<td>專案失敗，按照已履行訂單總金額的5%支付違約金，並全額退還未履行訂單的眾籌款給支持者，未履行訂單取消</td>
							</tr>
							</tbody></table>
							<p></p>
							<p>X為延遲發貨天數，自承諾回報期限的最後一天的次日起算。如延遲天數達到30日，即視為發起人已經無法提供回報，專案失敗，發起人應向所有支持者發表致歉聲明或闡述說明，並在3日內完成未履行訂單的退款。若發起人在延遲天數未滿30天時，與支持者達成一致，並另行約定發貨時間的除外。</p>
							<h5>3、 服務響應時效</h5>
							<p>在專案回報過程中，發起人應積極響應支持者、尚籌網或尚籌網眾籌平臺提出的各項問題和需求。對於提問郵件或各項需求郵件，應于2個工作日內回覆處理意見或對申請進行處理。如發起人未按以上規定時間回覆意見或進行相應處理，尚籌網或尚籌網眾籌平臺均有權從客戶為先理念角度代發起人回覆或處理，發起人應按照尚籌網或尚籌網眾籌平臺的處理意見為客戶提供相關服務，因此造成的損失或產生的費用由發起人承擔。</p>
							<h5>4、 違約責任</h5>
							<p>4.1如發起人涉嫌違反有關法律或者本協議之約定，使尚籌網或尚籌網眾籌平臺遭受任何損失包括但不限於，受到任何第三方的訴訟、糾紛、索賠，受到任何行政管理部門的處罰，發起人應當賠償尚籌網或尚籌網眾籌平臺因此遭受的損失及/或發生的費用，包括合理的律師費用、調查取證費用等。</p>
							<p>4.2對於發起人應當承擔的違約金，尚籌網或尚籌網眾籌平臺有權從發起人的保證金及質保金或其他由尚籌網或尚籌網眾籌平臺控制的款項中直接抵扣，不予返還。<b>保證金及質保金不足以支付的，尚籌網或尚籌網眾籌平臺均有權繼續向發起人追償。</b></p>
							<h5>5、 其他</h5>
							<p>5.1發起人同意遵守尚籌網網站（www.atcrowd.com）及其旗下任何網站已經發布的或將來可能發佈的各類規則、操作流程。對違反約定或規定給客戶造成損失的，發起人願意接受尚籌網或尚籌網眾籌平臺的各項處罰。</p>
							<p>5.2凡因本協議引起的或與本協議有關的任何爭議，由雙方友好協商解決。協商不成時，任何一方均應向合同簽訂地法院（即：南京市玄武區人民法院）提起訴訟。</p>
						</div>
					</div>
					<div class="panel-footer" style="text-align:center;">
						<a class="btn btn-warning btn-lg" href="project/launch/project/page">閱讀並同意協議</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container" style="margin-top:20px;">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div id="footer">
					<div class="footerNav">
						<a rel="nofollow" href="http://www.layoutit.cn">關於我們</a> | <a rel="nofollow" href="http://www.layoutit.cn">服務條款</a> | <a rel="nofollow" href="http://www.layoutit.cn">免責聲明</a> | <a rel="nofollow" href="http://www.layoutit.cn">網站地圖</a> | <a rel="nofollow" href="http://www.layoutit.cn">聯繫我們</a>
					</div>
					<div class="copyRight">
						Copyright ?2017-2017layoutit.cn 版權所有
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
</body>
</html>