<!DOCTYPE html>
<html lang="utf-8">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="../frontend/bootstrap/css/bootstrap.min.css"  th:href="@{/frontend/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../frontend/css/font-awesome.min.css"  th:href="@{/frontend/css/font-awesome.min.css}">
	<link rel="stylesheet" href="../frontend/css/main.css" th:href="@{/frontend/css/main.css}">
	<script src="../frontend/jquery/jquery-2.1.1.min.js" th:src="@{/frontend/jquery/jquery-2.1.1.min.js}"></script>
	<script src="../frontend/bootstrap/js/bootstrap.min.js" th:src="@{/frontend/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../frontend/script/docs.min.js" th:src="@{/frontend/script/docs.min.js}"></script>
	<script type="text/javascript">
		$(function () {
			$(".list-group-item").click(function(){
				if ( $(this).find("ul") ) {
					$(this).toggleClass("tree-closed");
					if ( $(this).hasClass("tree-closed") ) {
						$("ul", this).hide("fast");
					} else {
						$("ul", this).show("fast");
					}
				}
			});
		});
	</script>

	<style>
		.tree li {
			list-style-type: none;
			cursor:pointer;
		}
		.tree-closed {
			height : 40px;
		}
		.tree-expanded {
			height : auto;
		}
	</style>
</head>

<body>

<div th:insert="~{common-navbar::navbar}"></div>


<div class="container-fluid">
	<div class="row">
		<div th:insert="~{common-sidebar::sidebar}"></div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">控制面板</h1>
		</div>
	</div>
</div>
</body>
</html>
