<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--	CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="../frontend/bootstrap/css/bootstrap.min.css"
          th:href="@{/frontend/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../frontend/css/font-awesome.min.css" th:href="@{/frontend/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../frontend/css/main.css" th:href="@{/frontend/css/main.css}">
    <link rel="stylesheet" href="../frontend/css/doc.min.css" th:href="@{/frontend/css/doc.min.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
    <script src="../frontend/jquery/jquery-2.1.1.min.js" th:src="@{/frontend/jquery/jquery-2.1.1.min.js}"></script>
    <script src="../frontend/bootstrap/js/bootstrap.min.js"
            th:src="@{/frontend/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../frontend/script/docs.min.js" th:src="@{/frontend/script/docs.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function () {
                if ($(this).find("ul")) {
                    $(this).toggleClass("tree-closed");
                    if ($(this).hasClass("tree-closed")) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            });
            $("#toRightBtn").click(function () {
                // select 是標籤選擇器
                // :eq(0)表示選擇頁面上的第一個
                // :eq(1)表示選擇頁面上的第二個
                // 「>」表示選擇子元素
                // :selected 表示選擇「被選中的」option
                // appendTo()能夠將 jQuery 對像追加到指定的位置
                $("select:eq(0)>option:selected").appendTo("select:eq(1)");
            });
            $("#toLeftBtn").click(function () {
                // select 是標籤選擇器
                // :eq(0)表示選擇頁面上的第一個
                // :eq(1)表示選擇頁面上的第二個
                // 「>」表示選擇子元素
                // :selected 表示選擇「被選中的」option
                // appendTo()能夠將 jQuery 對像追加到指定的位置
                $("select:eq(1)>option:selected").appendTo("select:eq(0)");
            });
            $("#submitBtn").click(function () {
                // 在提交表單前把「已分配」部分的 option 全部選中
                $("select:eq(1)>option").prop("selected", "selected");
                // 爲了看到上面程式碼的效果，暫時不讓表單提交
                // return false;
            });
        });
    </script>
</head>

<body>

<div th:insert="~{common-navbar::navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:insert="~{common-sidebar::sidebar}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="/admin-main">首頁</a></li>
                <li><a href="/users">數據列表</a></li>
                <li class="active">分配角色</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:action="@{/assign/do/role/assign.html}" role="form" class="form-inline" method="post">
                        <input name="adminId" type="hidden" th:value="${param.adminId}">
                        <input name="pageNum" type="hidden" th:value="${param.pageNum}">
                        <input name="keyword" type="hidden" th:value="${param.keyword}">

                        <div class="form-group">
                            <label for="exampleInputPassword1">未分配角色列表</label><br>
                            <select class="form-control" multiple size="10" style="width:100px;overflow-y:auto;">

                                <i th:each="u,var : ${unAssignedRoleList}">
                                    <option th:value="${u.id}" th:text="${u.name}">a</option>
                                </i>

                            </select>
                        </div>
                        <div class="form-group">
                            <ul>
                                <li id="toRightBtn" class="btn btn-default glyphicon glyphicon-chevron-right"></li>
                                <br>
                                <li id="toLeftBtn" class="btn btn-default glyphicon glyphicon-chevron-left"
                                    style="margin-top:20px;"></li>
                            </ul>
                        </div>
                        <div class="form-group" style="margin-left:40px;">
                            <label for="exampleInputPassword1">已分配角色列表</label><br>
                            <select name="roleIdList" class="form-control" multiple size="10" style="width:100px;overflow-y:auto;">

                                <i th:each="u,var : ${assignedRoleList}">
                                    <option th:value="${u.id}" th:text="${u.name}">a</option>
                                </i>
                            </select>
                        </div>
                        <br>
                        <br>
                        <button type="submit" id="submitBtn">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">幫助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>測試標題1</h4>
                    <p>測試內容1，測試內容1，測試內容1，測試內容1，測試內容1，測試內容1</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>測試標題2</h4>
                    <p>測試內容2，測試內容2，測試內容2，測試內容2，測試內容2，測試內容2</p>
                </div>
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
        </div>
    </div>
</div>

</body>
</html>
