<div th:fragment="sidebar" class="col-sm-3 col-md-2 sidebar">
  <div class="tree">
    <ul style="padding-left:0px;" class="list-group">
      <li class="list-group-item tree-closed" >
        <a href="admin-main.html"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
      </li>
      <li class="list-group-item tree-closed">
        <span><i class="glyphicon glyphicon glyphicon-tasks"></i> 許可權管理 <span class="badge" style="float:right">3</span></span>
        <ul style="margin-top:10px;display:none;">
          <li style="height:30px;">
            <a href="/users"><i class="glyphicon glyphicon-user"></i> 使用者維護</a>
          </li>
          <li style="height:30px;">
            <a href="/role/page"><i class="glyphicon glyphicon-king"></i> 角色維護</a>
          </li>
          <li style="height:30px;">
            <a href="permission.html"><i class="glyphicon glyphicon-lock"></i> 菜單維護</a>
          </li>
        </ul>
      </li>
      <li class="list-group-item tree-closed">
        <span><i class="glyphicon glyphicon-ok"></i> 業務審覈 <span class="badge" style="float:right">3</span></span>
        <ul style="margin-top:10px;display:none;">
          <li style="height:30px;">
            <a href="auth_cert.html"><i class="glyphicon glyphicon-check"></i> 實名認證審覈</a>
          </li>
          <li style="height:30px;">
            <a href="auth_adv.html"><i class="glyphicon glyphicon-check"></i> 廣告審覈</a>
          </li>
          <li style="height:30px;">
            <a href="auth_project.html"><i class="glyphicon glyphicon-check"></i> 專案審覈</a>
          </li>
        </ul>
      </li>
      <li class="list-group-item tree-closed">
        <span><i class="glyphicon glyphicon-th-large"></i> 業務管理 <span class="badge" style="float:right">7</span></span>
        <ul style="margin-top:10px;display:none;">
          <li style="height:30px;">
            <a href="cert.html"><i class="glyphicon glyphicon-picture"></i> 資質維護</a>
          </li>
          <li style="height:30px;">
            <a href="type.html"><i class="glyphicon glyphicon-equalizer"></i> 分類管理</a>
          </li>
          <li style="height:30px;">
            <a href="process.html"><i class="glyphicon glyphicon-random"></i> 流程管理</a>
          </li>
          <li style="height:30px;">
            <a href="advertisement.html"><i class="glyphicon glyphicon-hdd"></i> 廣告管理</a>
          </li>
          <li style="height:30px;">
            <a href="message.html"><i class="glyphicon glyphicon-comment"></i> 訊息模板</a>
          </li>
          <li style="height:30px;">
            <a href="project_type.html"><i class="glyphicon glyphicon-list"></i> 專案分類</a>
          </li>
          <li style="height:30px;">
            <a href="tag.html"><i class="glyphicon glyphicon-tags"></i> 專案標籤</a>
          </li>
        </ul>
      </li>
      <li class="list-group-item tree-closed" >
        <a href="param.html"><i class="glyphicon glyphicon-list-alt"></i> 參數管理</a>
      </li>
    </ul>
  </div>