<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--	CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <link rel="stylesheet" href="../frontend/bootstrap/css/bootstrap.min.css"
          th:href="@{/frontend/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../frontend/css/font-awesome.min.css" th:href="@{/frontend/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../frontend/css/login.css" th:href="@{/frontend/css/login.css}">
    <link rel="stylesheet" href="../frontend/css/main.css" th:href="@{/frontend/css/main.css}">


    <script src="../frontend/jquery/jquery-2.1.1.min.js" th:src="@{/frontend/jquery/jquery-2.1.1.min.js}"></script>
    <script src="../frontend/bootstrap/js/bootstrap.min.js"
            th:src="@{/frontend/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../frontend/script/docs.min.js" th:src="@{/frontend/script/docs.min.js}"></script>
    <script src="../frontend/layer/layer/layer.js" th:src="@{/frontend/layer/layer/layer.js}"></script>

    <!--	分頁外掛-->
    <link rel="stylesheet" href="../frontend/css/pagination.css" th:href="@{/frontend/css/pagination.css}">
    </script>
    <script type="text/javascript" src="../frontend/jquery/jquery.pagination.js"
            th:src="@{/frontend/jquery/jquery.pagination.js}"></script>

    <!--	ajax 讀取後端角色資料-->
    <script type="text/javascript" src="../frontend/script/my-role.js" th:src="@{/frontend/script/my-role.js}"></script>

    <script type="text/javascript">
        $(function () {
            window.pageNum = 1;
            window.pageSize = 5;
            window.keyword = "";

            generatePage();

            $("#searchBtn").click(function () {
                window.keyword = $("#keywordInput").val();
                generatePage();

            });

            $("tbody .btn-success").click(function () {
                window.location.href = "assignPermission.html";
            });

            $("#showAddModalBtn").click(function () {
                $("#addModal").modal("show");
            });

            // 給新增模態框中的儲存按鈕繫結單擊響應函式
            $("#saveRoleBtn").click(function () {

                // ①獲取使用者在文字框中輸入的角色名稱
                // #addModal 表示找到整個模態框
                // 空格表示在後代元素中繼續查詢
                // [name=roleName]表示匹配name 屬性等於roleName 的元素
                var roleName = $.trim($("#addModal [name=roleName]").val());

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                // 呼叫$.ajax()函式發送請求並接受$.ajax()函式的返回值
                // ②發送Ajax 請求
                $.ajax({
                    "url": "/role/save.json",
                    "type": "post",
                    "data": {
                        "name": roleName
                    },
                    "dataType": "json",
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    "success": function (response) {

                        var result = response.result;

                        if (result == "SUCCESS") {
                            layer.msg("操作成功！");

                            // 將頁碼定位到第一頁
                            window.pageNum = 1;

                            // 重新載入分頁數據
                            generatePage();
                        }
                        if (result == "FAILED") {
                            layer.msg("操作失敗！" + response.message);
                        }

                    },
                    "error": function (response) {
                        layer.msg(response.status + " " + response.statusText);
                    }
                });

                // 關閉模態框
                $("#addModal").modal("hide");

                // 清理模態框
                $("#addModal [name=roleName]").val("");
            });

            // 給頁面上的「鉛筆」按鈕繫結單擊響應函式，目的是打開模態框
            // 傳統的事件繫結方式只能在第一個頁面有效，翻頁后失效了
            // $(".pencilBtn").click(function(){
            // alert("aaaa...");
            // });
            // 使用jQuery 對象的on()函式可以解決上面問題
            // ①首先找到所有「動態產生」的元素所附著的「靜態」元素
            // ②on()函式的第一個參數是事件型別
            // ③on()函式的第二個參數是找到真正要繫結事件的元素的選擇器
            // ③on()函式的第三個參數是事件的響應函式
            $("#rolePageBody").on("click", ".pencilBtn", function () {
                // 打開模態框
                $("#editModal").modal("show");

                // 獲取表格中目前行中的角色名稱
                var roleName = $(this).parent().prev().text();

                // 獲取目前角色的id
                // 依據是：var pencilBtn = "<button id='"+roleId+"' ……這段程式碼中我們把roleId 設定到id屬性了
                // 爲了讓執行更新的按鈕能夠獲取到roleId 的值，把它放在全域性變數上
                window.roleId = this.id;

                // 使用roleName 的值設定模態框中的文字框
                $("#editModal [name=roleName]").val(roleName);
            });

            $("#updateRoleBtn").click(function () {
                // ①從文字框中獲取新的角色名稱
                var roleName = $("#editModal [name=roleName]").val();

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                // ②發送Ajax 請求執行更新
                $.ajax({
                    "url": "/role/update.json",
                    "type": "post",
                    "data": {
                        "id": window.roleId,
                        "name": roleName
                    },
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    "dataType": "json",
                    "success": function (response) {

                        var result = response.result;

                        if (result == "SUCCESS") {
                            layer.msg("操作成功！");

                            // 重新載入分頁數據
                            generatePage();
                        }

                        if (result == "FAILED") {
                            layer.msg("操作失敗！" + response.message);
                        }

                    },
                    "error": function (response) {
                        layer.msg(response.status + " " + response.statusText);
                    }
                });

                // ③關閉模態框
                $("#editModal").modal("hide");
            });


            $(function () {
                $(".list-group-item").click(function () {
                    if ($(this).find("ul")) {
                        $(this).toggleClass("tree-closed");
                        if ($(this).hasClass("tree-closed")) {
                            $("ul", this).hide("fast");
                        } else {
                            $("ul", this).show("fast");
                        }
                    }
                });
            });


        });


    </script>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<div th:insert="~{common-navbar::navbar}"></div>


<div class="container-fluid">
    <div class="row">
        <div th:insert="~{common-sidebar::sidebar}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 數據列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查詢條件</div>
                                <input id="keywordInput" class="form-control has-success" type="text"
                                       placeholder="請輸入查詢條件">
                            </div>
                        </div>
                        <button id="searchBtn" type="button" class="btn btn-warning"><i
                                class="glyphicon glyphicon-search"></i> 查詢
                        </button>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 刪除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;" id="showAddModalBtn"><i
                            class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input type="checkbox"></th>
                                <th>名稱</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody id="rolePageBody">

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <div id="Pagination" class="pagination"><!-- 這裡顯示分頁 --></div>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增角色的彈跳視窗-->
<div th:insert="~{modal-role-add :: modal-role-add}">
</div>

<!--修改角色的彈跳視窗-->
<div th:insert="~{modal-role-edit :: modal-role-edit}">
</div>

</body>
</html>
