<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="../frontend/bootstrap/css/bootstrap.min.css"  th:href="@{/frontend/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../frontend/css/font-awesome.min.css"  th:href="@{/frontend/css/font-awesome.min.css}">
	<link rel="stylesheet" href="../frontend/css/main.css" th:href="@{/frontend/css/main.css}">

	<script src="../frontend/jquery/jquery-2.1.1.min.js" th:src="@{/frontend/jquery/jquery-2.1.1.min.js}"></script>
	<script src="../frontend/bootstrap/js/bootstrap.min.js" th:src="@{/frontend/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../frontend/script/docs.min.js" th:src="@{/frontend/script/docs.min.js}"></script>
	<link rel="stylesheet" href="../css/pagination.css" th:href="@{/frontend/css/pagination.css}"></script>
	<script type="text/javascript" src="../jquery/jquery.pagination.js"  th:src="@{/frontend/jquery/jquery.pagination.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function () {
			$(".list-group-item").click(function(){
				if ( $(this).find("ul") ) {
					$(this).toggleClass("tree-closed");
					if ( $(this).hasClass("tree-closed") ) {
						$("ul", this).hide("fast");
					} else {
						$("ul", this).show("fast");
					}
				}
			});
		});
		$("tbody .btn-success").click(function(){
			window.location.href = "assignRole.html";
		});
		$("tbody .btn-primary").click(function(){
			window.location.href = "edit.html";
		});


		$(function () {
			// 呼叫後面聲明的函式對頁碼導航條進行初始化操作
			initPagination();
		});

		// 產生頁碼導航條的函式
		function initPagination() {

			// 獲取總記錄數
			var totalRecord = [[${pageInfo.total}]];

			// 聲明一個JSON對像儲存Pagination要設定的屬性
			var properties = {
				num_edge_entries: 3,								// 邊緣頁數
				num_display_entries: 5,								// 主體頁數
				callback: pageSelectCallback,						// 指定使用者點選「翻頁」的按鈕時跳轉頁面的回撥函式
				items_per_page: [[${pageInfo.pageSize}]] ,	// 每頁要顯示的數據的數量
				current_page: [[${pageInfo.pageNum - 1}]] ,	// Pagination內部使用pageIndex來管理頁碼，pageIndex從0開始，pageNum從1開始，所以要減一
				prev_text: "上一頁",									// 上一頁按鈕上顯示的文字
				next_text: "下一頁"									// 下一頁按鈕上顯示的文字
			};

			// 產生頁碼導航條
			$("#Pagination").pagination(totalRecord, properties);

		}

		// 回撥函式的含義：聲明出來以後不是自己呼叫，而是交給系統或框架呼叫
		// 使用者點選「上一頁、下一頁、1、2、3……」這樣的頁碼時呼叫這個函式實現頁面跳轉
		// pageIndex是Pagination傳給我們的那個「從0開始」的頁碼
		function pageSelectCallback(pageIndex, jQuery) {

			// 根據pageIndex計算得到pageNum
			var pageNum = pageIndex + 1;

			// 跳轉頁面
			window.location.href = "/users?pageNum="+pageNum+"&keyword="+[[${param.keyword} == null ? '':${param.keyword}]] ;

			// 由於每一個頁碼按鈕都是超鏈接，所以在這個函式最後取消超鏈接的預設行為
			return false;
		}
	</script>

	<style>
		.tree li {
			list-style-type: none;
			cursor:pointer;
		}
		table tbody tr:nth-child(odd){background:#F4F4F4;}
		table tbody td:nth-child(even){color:#C00;}
	</style>
</head>

<body>

<div th:insert="~{common-navbar::navbar}"></div>


<div class="container-fluid">
	<div class="row">

		<div th:insert="~{common-sidebar::sidebar}"></div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 數據列表</h3>
				</div>
				<div class="panel-body">
	<form action="/users" METHOD="get" class="form-inline" role="form" style="float:left;">
		<div class="form-group has-feedback">
			<div class="input-group">
				<div class="input-group-addon">查詢條件</div>
				<input name="keyword" class="form-control has-success" type="text" placeholder="請輸入查詢條件">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
			</div>
		</div>
		<button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查詢</button>
	</form>
					<button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i class=" glyphicon glyphicon-remove"></i> 刪除</button>
					<button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='add.html'"><i class="glyphicon glyphicon-plus"></i> 新增</button>
					<br>
					<hr style="clear:both;">
					<div class="table-responsive">
						<tr th:if = "!${pageInfo}">
							目前資料庫中暫無數據！
						</tr>

						<table th:if = "${pageInfo}" class="table  table-bordered">
							<thead>
							<tr>
								<th width="30">#</th>
								<th width="30"><input type="checkbox"></th>
								<th>賬號</th>
								<th>名稱</th>
								<th>郵箱地址</th>
								<th width="100">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>
							<tr th:each="admin : ${pageInfo.list}">
								<td th:text="${admin.id}">11</td>
								<td><input type="checkbox"></td>
								<td th:text="${admin.loginAcct}">11</td>
								<td th:text="${admin.userName}">11</td>
								<td th:text="${admin.email}">11</td>
								<td>
									<button type="button" class="btn btn-success btn-xs"><i class=" glyphicon glyphicon-check"></i></button>
									<button type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>
									<a th:href = "@{/user/delete/} + ${admin.id} + '/' + ${pageInfo.pageNum} + '/' + ${param.keyword}"  type="button" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></a>
								</td>
							</tr>
							</tr>


							</tbody>
							<tfoot>
							<tr >
								<td colspan="6" align="center">
									<div id="Pagination" class="pagination"><!-- 這裡顯示分頁 --></div>
								</td>
							</tr>

							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
