<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inc.lilin.crowd.common.database.InnerroleauthpoMapper">
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <!--請注意，此文件由代碼產生器(MybatisGenerattor)產生，任何修改都會在下次產生代碼時被覆寫。-->
  <!-- ————————————————————————————————————————————————————————————————————————— -->
  <resultMap id="BaseResultMap" type="inc.lilin.crowd.common.database.Innerroleauthpo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="auth_id" jdbcType="INTEGER" property="authId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inner_role_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="inc.lilin.crowd.common.database.Innerroleauthpo">
    insert into inner_role_auth (id, role_id, auth_id
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{authId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="inc.lilin.crowd.common.database.Innerroleauthpo">
    update inner_role_auth
    set role_id = #{roleId,jdbcType=INTEGER},
      auth_id = #{authId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, role_id, auth_id
    from inner_role_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_id, auth_id
    from inner_role_auth
  </select>
</mapper>